*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
}
.loader-wrapper 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    min-height: 100vh;

}
.loader
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(175deg);
}
.loader span
{
    position: absolute;
    top: calc(12px * var(--i));
    left: calc(12px * var(--i));
    right: calc(12px * var(--i));
    bottom: calc(12px * var(--i));
    border: 3px solid transparent;
    border-radius: 50%;
    border-left-color: rgb(98, 0, 255);
    animation: animate 1s linear infinite;
    filter: hue-rotate(calc(60deg * var(--i)));
    animation-delay: calc(-0.1s * var(--i));
}
.loader span:nth-child(1)
{
    
    animation-duration: 2s;
}
.loader span:nth-child(2)
{
    animation-duration: 1s;
}
.loader span:nth-child(3)
{
    animation-duration: 0.5s;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}